/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1;
  position: fixed;
}

/* Sidebar links */
.collapsible {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  border: none;
}

.not-collapsible {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


/* Active/current link */
.sidebar a.active {
  background-color: #3d82e9;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  list-style: none;
  margin-bottom: 0.5em;
}

img {
	vertical-align:middle;
	padding-right: 1em;
}

#menu {
	display:none;
}

.content a {
	color: black;
	text-decoration: none;
}


@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  
  #menu {
	display:none;
	}

  .sidebar a {
    float: none;
  }
  
  .collapsible {
	  display: none;
  }
  
	#menu {
		display:block;
	}
}